body {
  background-image: url("../Images/abstract-activity-art-background-288100.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


i {
    padding-left: 5px;
    padding-right: 5px;
}

.fa-github-square {
    color: #999999;
}

.fa-github-square:hover {
    color: #24292e;
}

.fa-github-square:active {
  color: #24292e;
}

.fa-linkedin {
    color: #999999;
}

.fa-linkedin:hover {
    color: #0077B5;
}

.fa-linkedin:active {
  color: #0077B5;
}

.fa-facebook-square {
    color: #999999;
}

.fa-facebook-square:hover {
    background:-moz-linear-gradient(top, #3eaaed 0%, #1778F2 100%); 
    background: -webkit-linear-gradient(top, #3eaaed 0%,#1778F2 100%); 
    background: linear-gradient(to bottom, #3eaaed 0%,#1778F2 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
}

.fa-facebook-square:active {
  background:-moz-linear-gradient(top, #3eaaed 0%, #1778F2 100%); 
  background: -webkit-linear-gradient(top, #3eaaed 0%,#1778F2 100%); 
  background: linear-gradient(to bottom, #3eaaed 0%,#1778F2 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
 -webkit-text-fill-color:transparent;
}

.fa-envelope-square {
  color: #999999;
}

.fa-envelope-square:hover {
  color: #B23121;
}

.fa-envelope-square:active {
color: #B23121;
}

.fa-phone-square {
  color: #999999;
}

.fa-phone-square:hover {
  color: #309b30;
}

.fa-phone-square:active {
color: #309b30;
}

footer {
  background-color: rgba(60, 141, 155, 0.9);
  color: rgb(255, 255, 255);
  text-align: center;
  height: 50px;
  width: 100%;
  line-height: 50px;
  margin-top: auto;
}

#padding {
  padding: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
